<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">
                <br>
                <br>
                <h3>Create a New Listing</h3>
                <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" name="listing[title]" id="title" placeholder="Add a Catchy Title"
                            class="form-control" required/>
                            <div class="valid-feedback">Title Goods Looks</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">description:</label>
                        <textarea name="listing[description]" placeholder="enter description"
                            class="form-control" required   class="valid-feedback"></textarea>
                              <div class="invalid-feedback">
      Please select a valid description.
    </div>
                    </div>
                     <div class="mb-3">
                        <label for="image" class="form-label"> Upload Listing Image:</label>
                        <input type="file" name="listing[image]" 
                            class="form-control" required > 
                              <div class="invalid-feedback">
      Please Upload a valid Image.
    </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-4">
                            <label for="price" class="form-label">Price:</label>
                            <input name="listing[price]" placeholder="1200 " class="form-control" required>
                             <div class="invalid-feedback">please provide valid price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">country:</label>
                            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                              <div class="invalid-feedback">
      Please select a valid country.
    </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">location:</label>
                        <input type="text" name="listing[location]" placeholder="Puri,Odisha" class="form-control" required>
                          <div class="invalid-feedback">
      Please select a valid City.
    </div>
                    </div>
                    <br>
                    <br>
                    <button class="btn btn-dark add-btn">Add</button>
                    <br>
                    <br>
                </form>
            </div>
        </div>


